.card-atividade .title {
  text-align: center;
}

.card-atividade .title mark {
  padding: .25rem .50rem;
  border-radius: .25rem;
}

.card-atividade .atividade-objetivo {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22.5px;        /* fallback */
  max-height: calc(22.5 * 4);
}

.card-atividade .info-group {
  margin-bottom: 0.5rem;
}

.card-atividade .info-group label {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: top;
  margin-bottom: .5rem;
}

.card-atividade .list-equipe {
  border: 1px solid #ebedf2;
  list-style: none;
  padding: 0;
}

.card-atividade .list-equipe li:not(:last-child) {
  border-bottom: 1px solid #ebedf2;
}
.card-atividade .list-equipe li {
  padding: .75rem .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-atividade .list-equipe li h5 {
  margin: 0;
}
