.theme-article h1,
.theme-article h2,
.theme-article h3,
.theme-article h4,
.theme-article h5,
.theme-article h6{
  border-top: 1px solid #ebedf2;
  padding: 0.5rem 0 0;
}

.theme-article .media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.theme-article .media p {
  margin-bottom: 0;
}
