.align-items-stretch{
  align-items: stretch;
}

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.stretch-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.icon-lg {
  font-size: 2.5rem;
}

.icon-md {
  font-size: 1.875rem;
}

.icon-sm {
  font-size: 1rem;
}

.text-primary {
  color: #b66dff !important
}

.text-warning {
  color: #ffc542 !important;
}

.text-success {
  color: #1bcfb4 !important;
}

.text-danger {
  color: #fe7c96 !important;
}

.text-info {
  color: #198ae3 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-secondary {
  color: #c3bdbd !important;
}

.text-dark {
  color: #3e4b5b !important;
}

.text-muted {
  color: #9c9fa6 !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-primary {
  background-color: #b66dff !important
}

.bg-warning {
  background-color: #ffc542 !important;
}

.bg-success {
  background-color: #1bcfb4 !important;
}

.bg-danger {
  background-color: #fe7c96 !important;
}

.bg-info {
  background-color: #198ae3 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-secondary {
  background-color: #c3bdbd !important;
}

.bg-dark {
  background-color: #3e4b5b !important;
}

.bg-muted {
  background-color: #9c9fa6 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.list-ticked, .list-arrow, .list-star {
  list-style: none;
  padding: 0;
}

.list-ticked li, .list-arrow li, .list-star li {
  padding-left: 1.5rem;
}

.list-ticked li:before, .list-arrow li:before, .list-star li:before {
  font-family: "material-icons";
  margin-left: -1.5rem;
  width: 1.5rem;
  margin-right: .5rem;
}

.list-ticked li:before {
  content: '\e877';
  color: #fe7c96;
}

.list-arrow li:before {
  content: '\e315';
    color: #1bcfb4;
}

.list-star li:before {
  content: '\e838';
    color: #fed713;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  padding: 1.25rem;
  border: 1px solid rgba(151, 151, 151, 0.3);
}

.blockquote-primary {
  border-color: #b66dff;
}

.blockquote-primary .blockquote-footer {
  color: #b66dff;
  display: block;
  font-size: 80%;
}

.blockquote-footer::before {
  content: "\2014\00A0";
}

.card-list{
  padding: 70px 20px;
}

.card-list article {
  padding-right: 20px!important;
  padding-left: 20px!important;
  margin-bottom: 30px;
}

article .stretch-row{
  margin-left: -20px;
  margin-right: -20px;
}

article .card{
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  width: 100%;
  box-shadow: 2px 2px 8px #c5baba;
}

article .title{
  color: #343a40;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  font-family: "ubuntu-medium", sans-serif;
  font-size: 1.125rem;
  border-top: 0;
}

article .list-icon{
  align-items: center;
  list-style: none;
}

article .list-icon li{
  flex: 1;
  text-align: center;
}

.text-description{
  color: #76838f;
  margin-bottom: 1.5rem;
  font-family: "ubuntu-regular", sans-serif;
}

/* Formulário */
.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: .5rem;
  display: block;
}

.form-control {
  border: 1px solid #ebedf2;
  font-family: "ubuntu-regular", sans-serif;
  font-size: 0.8125rem;
  box-shadow: none;
  display: block;
  width: 100%;
  height: 2.875rem;
  padding-left: 0.81rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control .MuiInput-input {
  border: 1px solid #ebedf2 !important;
  font-family: "ubuntu-regular", sans-serif!important;
  font-size: 0.8125rem!important;
  box-shadow: none!important;
  display: block!important;
  width: 100%!important;
  height: 2.875rem!important;
  padding-left: 0.81rem!important;
  font-weight: 400!important;
  line-height: 1!important;
  color: #495057!important;
  background-color: #ffffff!important;
  background-clip: padding-box!important;
  border-radius: 2px!important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
  box-sizing: inherit!important;
}

.form-control .MuiInput-underline::before, .form-control .MuiInput-underline::after {
  border: none!important;
}

input, .form-control:focus, input:focus, select:focus, textarea:focus, button:focus
.form-control .MuiInput-input:focus {
  border: 1px solid #198ae3;
  box-shadow: 0 0 3px #719ECE;
  outline: none;
  outline-style: none;
}

.form-control-lg, .form-control-lg .MuiInput-input {
  height: 3.175rem;
  padding-left: 0.81rem;
  line-height: 1.5;
}

.form-control-sm, .form-control-sm .MuiInput-input {
  height: 2.575rem;
  padding-left: 0.81rem;
  line-height: 1.5;
}

textarea.form-control {
  height: auto;
}

select.form-control {
  padding: .4375rem .75rem;
  border: 0;
  outline: 1px solid #ebedf2;
  color: #c9c8c8;
}

.btn {
  box-shadow: none;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  font-family: "ubuntu-bold", sans-serif;
  font-weight: 400;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.875rem 2.5rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.1875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.btn-fw {
  min-width: 150px;
}

.btn-primary {
  color: #fff;
  background-color: #b66dff;
  border-color: #b66dff!important;
}

.btn-primary:hover {
  background-color: #9D3AFF!important;
  border-color: #9D3AFF!important;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #ca9ff5!important;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #b66dff!important;
  border-color: #b66dff!important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #9D3AFF!important;
  border-color: #9D3AFF!important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ca9ff5!important;
}

.btn-primary:not(.btn-light) {
  color: #ffffff;
}

.btn-secundary {
  color: #fff;
  background-color: #c3bdbd;
  border-color: #c3bdbd!important;
}

.btn-secundary:hover {
  color: #fff;
  background-color: #ABA2A2!important;
  border-color: #ABA2A2!important;
}

.btn-secundary:focus, .btn-secundary.focus {
  box-shadow: 0 0 0 0.2rem rgb(226, 222, 222)!important;
}

.btn-secundary.disabled, .btn-secundary:disabled {
  color: #fff;
  background-color: #c3bdbd!important;
  border-color: #c3bdbd!important;
}

.btn-secundary:not(:disabled):not(.disabled):active, .btn-secundary:not(:disabled):not(.disabled).active,
.show > .btn-secundary.dropdown-toggle {
  color: #212529;
  background-color: #ABA2A2!important;
  border-color: #ABA2A2!important;
}

.btn-secundary:not(:disabled):not(.disabled):active:focus,
.btn-secundary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secundary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(226, 222, 222)!important;
}






.btn-success {
  color: #fff;
  background-color: #1bcfb4;
  border-color: #1bcfb4!important;
}

.btn-success:hover {
  background-color: #16A993!important;
  border-color: #16A993!important;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem #b1ece3!important;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #1bcfb4!important;
  border-color: #1bcfb4!important;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  background-color: #16A993!important;
  border-color: #16A993!important;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #b1ece3!important;
}

/* BOTÕES INVERSOS */
.btn-inverse-danger {
  background-color: rgba(254, 124, 150, 0.2);
  background-image: none;
  border-color: rgba(254, 124, 150, 0)!important;
}

.btn-inverse-danger:hover {
  background: #fe7c96;
  color: #fff!important;
}

.btn-inverse-danger:focus, .btn-inverse-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 124, 150, 0.2)!important;
}

.btn-inverse-danger:not(:disabled):not(.disabled):active:focus,
.btn-inverse-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-inverse-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 124, 150, 0.2)!important;
}

.btn-inverse-danger:not(.btn-inverse-light) {
  color: #fe7c96;
}

.modal-header {
  align-items: center;
}

.form-group .form-control.invalid,
.form-group .invalid .css-cenuji-Control {
  border: 1px solid #fe7c96;
}
